body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    text-align: ;
    padding: 20px;

}
h1 {
    color: #000;
    font-size: 2.5em;
}
img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
    border: 5px solid #af5b4c;

}
